<div>
  <div class="section1">
    <img src="https://static.vecteezy.com/system/resources/previews/023/029/286/large_2x/set-of-american-breakfast-food-with-aesthetic-arrangement-top-view-photo.jpg" alt="">
    <div class="center">Where Every Dish Tells a Story: A Culinary Journey of Flavor and Passion</div>
  </div>
  <div class="section2">
    <h1>Who are we?</h1>
    <div class="whoAreWe">
      <div class="whoAreWeContent">
        Welcome to our platform, where satisfaction meets simplicity! We're a clone of a renowned food ordering system, offering a hassle-free experience from selection to checkout. Browse our diverse menu, add items to your cart with ease, and manipulate quantities to your liking. When you're ready, our intuitive interface guides you through a seamless checkout process, directing you to a dummy payment gateway for secure transactions. Join us for a culinary journey that's as convenient as it is delicious!
      </div>
      <div class="whoAreWeImg">
        <img src="https://pbs.twimg.com/media/E9CY6A7XsAkFw6V.jpg" alt="">
      </div>
    </div>
  </div>
</div>